@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden; /* Prevent any potential scrollbar */
        background-color: black; /* Set the background color to black */
    }

    img {
        max-width: 80%;
        height: auto;
    }
</style>

<div class="text-center">
    <img src="~/img/library.jpg" alt="Library Image">
</div>
